@page "/Info"
<h1 class="text-center">NOTL Museum </h1>
<h3>Info</h3>
<div class="d-flex flex-column align-items-center">
    <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, arcu vel iaculis lobortis, odio nisi tristique magna, in malesuada libero mi sed odio. Nulla facilisi. Nam imperdiet, massa eu bibendum aliquet, dui tellus tempus mauris, eu viverra enim felis vel arcu. Sed condimentum, nisl a malesuada lacinia, odio arcu vehicula mauris, quis varius neque nisi vitae augue.</p>
</div>

@code {

}
