@page "/Info"




<h1 class="text-center">NOTL Museum </h1>
<h3>About</h3>
<img src="wwwroot/NOTL.jpg"/>
<div class="about">
    <p class="mt-4">
        The Niagara Historical Society was established in 1895 to foster an appreciation of Niagara-on-the-Lake’s rich heritage. Within a year, the Society had a significant collection of artefacts that it decided to open a Museum in the local Courthouse. In 1907, under the leadership of the Society’s President, Janet Carnochan, they opened Memorial Hall, Ontario’s first purpose-built Museum.
        The NOTL Museum acknowledges that we are operating on lands that have been inhabited by Indigenous people for millennia and would like to honor all the centuries of Indigenous Peoples who have walked on Turtle Island before us. We are grateful for the opportunity to live, work and play here in Niagara-on-the-Lake and we give thanks to the ancestors who have served as stewards of this special place. Today, we have a responsibility to live in balance and harmony with each other and all living things, so that our 7th generation will be able to enjoy these beautiful lands as well!
</p>
</div>

@code {
    
}
