<style>
    .panzoom-parent {
        border: 10px solid rgba(1, 1, 1, 1);;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
        max-width: 500px;
        margin: 0 auto;
    }

    .panzoom {
        border: 1px solid #ddd;
        box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    }
</style>

<div class="buttons">
        <MudButton @onclick="OnZoomInClick">Zoom in</MudButton>
        <MudButton @onclick="OnZoomOutClick">Zoom out</MudButton>
        <MudButton @onclick="OnResetClick">Reset</MudButton>
</div>
<div class="panzoom-parent">
    <Panzoom @ref="_panzoom">
        <div @ref="@context.ElementReference" class="panzoom">
            <img src="map.png" alt="image" />
        </div>
    </Panzoom>
</div>

@code {

    private Panzoom _panzoom;


    private async Task OnZoomInClick(MouseEventArgs args)
    {
        await AdjustScale(true);
    }

    private async Task OnZoomOutClick(MouseEventArgs args)
    {
        await AdjustScale(false);
    }

    private async Task OnResetClick(MouseEventArgs args)
    {
        await _panzoom.ResetAsync();
    }

    private async Task AdjustScale(bool zoomIn)
    {
        var oldScale = await _panzoom.GetScaleAsync();

        if (zoomIn)
        {
            await _panzoom.ZoomInAsync();
        }
        else
        {
            await _panzoom.ZoomOutAsync();
        }
        var newScale = await _panzoom.GetScaleAsync();
    }

}