<style>
    .coordinate-button {
    position: absolute;
}

.coordinate-title {
    position: absolute;
    text-align: center;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.coordinate-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.coordinate-image {
    width: 30px; /* Adjust the size as needed */
    height: 40px; /* Adjust the size as needed */
    position: relative;
    z-index: 0;
}

</style>

@if (Data != null)
{
    <div class="coordinate-button" style=@styleString()>
        <MudImage class="coordinate-image" Src="locationPin.png"></MudImage>
        <MudIconButton class="coordinate-icon"
                   Icon="@Icons.Material.Filled.EmojiEmotions"
                   Size="Size.Small"
                   OnClick="Click">
        </MudIconButton>
        <div class="coordinate-title">
            TEST TITLE
        </div>
    </div>
}


@code {
    [Parameter]
    public POIModel? Data { get; set; }

    [Parameter]
    public EventCallback<POIModel> OnClick { get; set; }

    private string styleString()
    {
        if (Data != null)
        {
            return $"top: {Data.Y}px; left: {Data.X}px;";
        }
        return "";
    }

    private async Task Click()
    {
        await OnClick.InvokeAsync(Data);
    }

}
