@if (Data != null)
{
    <div class="coordinate-button" style=@styleString()>
        @if (Data.PoiType == POIType.Exhibit)
            {
            @if (Data.Title != null)
            {
                <MudButton class="coordinate-exhibit" OnClick="Click" style="color: black;">
                    @Data.Title
                </MudButton>
            }
            else
            {
                <MudButton class="coordinate-exhibit" OnClick="Click" style="color: black;">
                    PLACEHOLDER @Data.PoiType
                </MudButton>
            }
        }
        else
        {
            @if (Data.PoiType == POIType.Item)
            {
                <MudIconButton class="coordinate-icon"
                   Color="Color.Error"
                   Icon=@Icons.Material.Filled.LocationOn
                   Size="Size.Small"
                   OnClick="Click">
                </MudIconButton>
            }
            else if (Data.PoiType == POIType.Bathroom)
            {
                <MudIconButton class="coordinate-icon"
                   Color="Color.Error"
                   Icon=@Icons.Material.Filled.FamilyRestroom
                   Size="Size.Small"
                   OnClick="Click">
                </MudIconButton>
            }
            else if (Data.PoiType == POIType.Accessability)
            {
                <MudIconButton class="coordinate-icon"
                   Color="Color.Error"
                   Icon=@Icons.Material.Filled.Accessible
                   Size="Size.Small"
                   OnClick="Click">
                </MudIconButton>
            }
            @if (Data.Title != null)
            {
                <span class="coordinate-title">
                    @Data.Title
                </span>
            }
            else
            {
                <span class="coordinate-title">
                    PLACEHOLDER @Data.PoiType
                </span>
            }
        }
    </div>
}


@code {
    [Parameter]
    public POIModel? Data { get; set; }

    [Parameter]
    public EventCallback<POIModel> OnClick { get; set; }

    private string styleString()
    {
        if (Data != null)
        {
            return $"top: {Data.Y}px; left: {Data.X}px;";
        }
        return "";
    }

    private async Task Click()
    {
        await OnClick.InvokeAsync(Data);
    }

}
