.coordinate-button {
    position: absolute;
}

.coordinate-title {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    text-align: center;
}

.coordinate-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.coordinate-exhibit {
    position: absolute;
}
